name: pipeline...
run-name: Pipeline CI  

on:
  push: 
    branches:
      main

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

  test:
    name: Test
    needs: setup  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout também aqui
        uses: actions/checkout@v4  
      
      - name: Setup Node também aqui
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: Verificar Node
        run: |  
          node --version
          npm --version

  execut:
    name: Run
    needs: test 
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout código
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: Executar script  
        run: node higher_order_function.js
